 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 923px;
}

.u-section-1 .u-image-1 {
  width: 214px;
  height: 214px;
  background-image: url("images/2f62a5a1ae0cb45748cb2e46d8432a82648cfa669f72f8833e12860d3bb0d754e54a2071090920c501a614f566dc3a22d763a5d21bb3b093fcdc53_1280.png");
  background-position: 50% 50%;
  margin: 60px auto 0 261px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 619px;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 485px;
  background-image: none;
  width: 619px;
  margin: 30px auto 60px;
}

.u-section-1 .u-label-1 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-label-2 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-label-3 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-label-4 {
  width: 100px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  font-weight: 700;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-bottom: 46px;
  }
}